MONGODB_URI=mongodb+srv://sabbia0506:Derosya97@prak-sbd-sabbia.kvrylu8.mongodb.net/sainz_shop?retryWrites=true&w=majority
JWT_SECRET=sainz55_rahasia_panjang_ganti_ini
PORT=5000
FRONTEND_URL=http://localhost:5173